<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles.css">
    <title>Dodaj stanowisko</title>
</head>

<body>
    <h1>Dodaj nowe stanowisko</h1>
    <form action="/add_position" method="POST">
        <label for="title">Nazwa stanowiska:</label><br>
        <input type="text" id="title" name="title" required><br><br>

        <label for="keywords">Słowa kluczowe (oddzielone przecinkami):</label><br>
        <input type="text" id="keywords" name="keywords" required><br><br>

        <button type="submit">Dodaj stanowisko</button>
    </form>
</body>

</html>