<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/stylesPosition.css">
    <title>Edytuj stanowisko</title>
</head>

<body>
    <div class="center-container">
        <div class="content-box">
            <h1>Edytuj stanowisko</h1>
            <form action="/edit_position/{{ position.id }}" method="POST">
                <label for="title">Tytuł stanowiska:</label>
                <input type="text" id="title" name="title" value="{{ position.title }}" required>

                <label>Słowa kluczowe i ich wagi:</label>
                <ul class="keywords-list">
                    {% for keyword in keywords %}
                    <li>
                        <strong>{{ keyword.word }}</strong>
                        <!-- Ukryte pole na keyword_id -->
                        <input type="hidden" name="keyword_ids" value="{{ keyword.id }}">
                        <!-- Pole na wagę -->
                        <input type="number" name="weights" value="{{ keyword.weight }}" min="1" max="5" required>
                    </li>
                    {% endfor %}
                </ul>

                <button type="submit" class="action-button">Zapisz zmiany</button>
            </form>
        </div>
    </div>
</body>

</html>