<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/stylesHome.css">
    <title>Panel użytkownika</title>
</head>

<body>
    <div class="center-container">
        <div class="content-box">
            <h1>Witaj, {{ username }}!</h1>
            <p>Co chciałbyś zrobić dzisiaj?</p>
            <div class="button-container">
                <a href="/upload" class="action-button">Prześlij CV</a>
                <a href="/add_position" class="action-button">Dodaj nowe stanowisko</a>
                <a href="/view_positions" class="action-button">Zobacz swoje stanowiska</a>
                <a href="/ranking" class="action-button">Zobacz ranking</a>
                <a href="/logout" class="action-button">Wyloguj się</a>
            </div>
        </div>
    </div>
</body>

</html>