<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/stylesPosition.css">
    <title>Ranking</title>
</head>

<body>
    <div class="center-container">
        <div class="content-box">
            {% extends "base.html" %}
            {% block title %}Ranking{% endblock %}
            {% block content %}
            <h2>Ranking kandydatów</h2>

            <!-- Formularz wyboru stanowiska i liczby wyników -->
            <form method="get">
                <label for="position_id">Wybierz stanowisko:</label>
                <select id="position_id" name="position_id">
                    {% for pos in positions %}
                    <option value="{{ pos.id }}" {% if pos.id==position.id %}selected{% endif %}>
                        {{ pos.title }}
                    </option>
                    {% endfor %}
                </select>

                <label for="limit">Liczba wyników (1-50):</label>
                <input type="number" id="limit" name="limit" value="{{ limit }}" min="1" max="50">

                <button type="submit">Pokaż ranking</button>
            </form>

            <div class="table-container">
                <table>
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Nazwa</th>
                            <th>Imię i nazwisko</th>
                            <th>E-mail</th>
                            <th>Numer telefonu</th>
                            <th>Punkty</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i, candidate in candidates_with_index %}
                        <tr>
                            <td>{{ i }}</td>
                            <td>{{ candidate.name }}</td>
                            <td>{{ candidate.first_words }}</td>
                            <td>{{ candidate.email_cv or "Nie znaleziono" }}</td>
                            <td>{{ candidate.phone_number or "Nie znaleziono" }}</td>
                            <td>{{ candidate.points }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            <a href="{{ url_for('home') }}" class="action-button">Wróć</a>
            {% endblock %}
        </div>
    </div>
</body>

</html>