<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/stylesPosition.css">
</head>

<body>
    <div class="center-container">
        <div class="content-box">
            {% extends "base.html" %}
            {% block title %}Stanowiska{% endblock %}
            {% block content %}
            <h1>Twoje Stanowiska</h1>
            <ul class="positions-list">
                {% for position in positions %}
                <li>
                    <span class="position-title">{{ position.title }}</span>
                    <div class="action-buttons">
                        <a href="{{ url_for('edit_position', position_id=position.id) }}"
                            class="action-button edit-button">Edytuj</a>
                        <form action="{{ url_for('delete_position', position_id=position.id) }}" method="post"
                            class="delete-form">
                            <button type="submit" class="action-button delete-button">Usuń</button>
                        </form>
                    </div>
                </li>
                {% endfor %}
            </ul>
            <a href="/" class="action-button">Wróć</a>
        </div>
    </div>
    {% endblock %}
</body>

</html>