body {
	font-family: Arial, sans-serif;
	background-color: #f4f1ea;
	color: #4a4a4a;
	margin: 0;
	padding: 0;
}

.center-container {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}

.content-box {
	background-color: #fff;
	border: 1px solid #dcdcdc;
	border-radius: 8px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	padding: 20px;
	max-width: 400px;
	text-align: center;
}

h1,
h2 {
	font-size: 24px;
	color: #333;
	margin-bottom: 20px;
}

label {
	display: block;
	margin: 10px 0 5px;
	font-size: 16px;
	color: #4a4a4a;
}

input[type='text'],
input[type='number'],
input[type='file'],
select {
	width: calc(100% - 20px); /* Ta sama szerokość dla wszystkich pól */
	padding: 10px;
	margin-bottom: 15px;
	border: 1px solid #dcdcdc;
	border-radius: 5px;
	box-sizing: border-box;
}

button,
.action-button {
	width: calc(100% - 20px);
	padding: 10px;
	background-color: #dcd4c5;
	color: #4a4a4a;
	border: 1px solid #b0a999;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s, color 0.3s;
	display: block;
	text-align: center;
	margin: 10px auto;
	text-decoration: none;
	font-size: 16px; /* Ujednolicenie wielkości tekstu */
	font-family: inherit; /* Spójność czcionki */
	box-sizing: border-box; /* Zapobiega różnicom w wymiarach */
}

button:hover,
.action-button:hover {
	background-color: #c8b59e;
	color: #fff;
}

button {
	appearance: none; /* Usuwa domyślne style przeglądarki dla przycisków */
	border: none; /* Usuwa wbudowane obramowanie */
	text-align: center;
	justify-content: center;
}

.flash-messages {
	list-style-type: none;
	padding: 0;
	margin: 10px 0;
}

.flash-messages li {
	background-color: #ffdddd;
	color: #a94442;
	padding: 10px;
	border: 1px;
}

.table-container {
	max-height: 500px;
	overflow-y: auto;
	border: 1px solid #ddd;
	margin: 20px auto;
	width: 90%;
	text-align: center;
	background-color: #fff;
}

.positions-list {
	list-style-type: none; /* Usunięcie kropek */
	padding: 0;
	margin: 0;
}

.positions-list li {
	display: flex; /* Ustawienie elementów w linii */
	justify-content: space-between; /* Rozdzielenie nazwy stanowiska i przycisku */
	align-items: center; /* Wyrównanie elementów w pionie */
	padding: 10px 0; /* Dodanie przestrzeni między wierszami */
	border-bottom: 1px solid #dcdcdc; /* Dodanie delikatnej linii oddzielającej */
}

.position-title {
	font-size: 16px; /* Rozmiar czcionki dla nazwy stanowiska */
	color: #4a4a4a; /* Kolor czcionki */
}

.edit-button,
.delete-button {
	width: auto; /* Dopasowanie szerokości do treści */
	padding: 5px 10px; /* Zmniejszenie paddingu dla lepszego dopasowania */
	font-size: 14px; /* Zmniejszenie rozmiaru czcionki */
}

.delete-button {
	background-color: #e57373;
	color: #fff;
	border: 1px solid #d32f2f;
}

.delete-button:hover {
	background-color: #d32f2f; /* Ciemniejszy czerwony kolor po najechaniu */
}

.delete-candit {
	background-color: #d32f2f;
}

table {
	width: 100%;
	border-collapse: collapse;
}

thead th {
	background-color: #dcd4c5;
	color: #4a4a4a;
	font-weight: bold;
	text-align: center;
	padding: 10px;
}

tbody td {
	padding: 10px;
	text-align: center;
	font-size: 16px;
	border: 1px solid #dcdcdc;
}

tbody tr:nth-child(odd) {
	background-color: #f4f1ea;
}

tbody tr:nth-child(even) {
	background-color: #ffffff;
}

tbody tr:hover {
	background-color: #eae7dc;
}
