.flash-messages {
	list-style: none;
	padding: 0;
}

.flash-messages li {
	margin: 5px 0;
	padding: 10px;
	border-radius: 5px;
	color: #fff;
}

.flash-messages li.error {
	background-color: #f44336; /* czerwony dla błędów */
}

.flash-messages li.success {
	background-color: #4caf50; /* zielony dla sukcesów */
}
